@model IEnumerable<Video_Streaming.Dbml.tbl_state>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}


<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="tables-advanced.html#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="tables-advanced.html#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>
	<h2 class="panel-title">State</h2>
	</header>
	<div class="panel-body">
        
	           <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-tabletools" data-swf-path='@Url.Content("~/vendor/jquery-datatables/extras/TableTools/csv_xls_pdf.swf")' role="grid" aria-describedby="datatable-tabletools_info">

	        <thead>
	            <tr>
                     <th>
           Country Name
        </th>
        <th>
            State Name
        </th>
                    <th>Action</th>
                </tr>
            </thead>
	        <tbody>
            @foreach (var item in Model) {
                <tr>
                     <td>
            @Html.DisplayFor(modelItem => item.tbl_country.country_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state_name)
        </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.state_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.state_id })
                    </td>
                </tr>
              }                
             </tbody>
         </table>
       </div>
    </section>
<script>
            function fnmenu() {
             
                $('#state').addClass('nav-active');
        }
        </script>    
