@model Video_Streaming.Models.Model_Login_Register

@{
    ViewBag.Title = "Registration Details";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}

		<div class="row">
						<div class="col-xs-12">
							<form id="form" action="forms-validation.html" class="form-horizontal">
								<section class="panel">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="forms-validation-registration.html#" class="panel-action panel-action-toggle" data-panel-toggle></a>
											<a href="forms-validation-registration.html#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
										</div>

										<h2 class="panel-title">Registration Details</h2>
									</header>
									<div class="panel-body">
										<div class="form-group">
											<label class="col-sm-3 control-label">First Name <span class="required">*</span></label>
											<div class="col-sm-9">
                                         @Html.DisplayFor(model => model.mdregister.reg_fname, new  { @class="form-control", @title="Please enter your First name." ,@placeholder="First Name" })
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Last Name <span class="required">*</span></label>
											<div class="col-sm-9">
                                        @Html.DisplayFor(model => model.mdregister.reg_lname, new  { @class="form-control", @title="Please enter your First name." ,@placeholder="Last Name" })
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Email<span class="required">*</span></label>
											<div class="col-sm-9">
                                       @Html.DisplayFor(model => model.mdlogin.email, new  { @class="form-control", @title="Please enter your First name." ,@placeholder="Email address" })
											</div>
										</div>
										
										<div class="form-group">
											<label class="col-sm-3 control-label">Gender<span class="required">*</span></label>
											<div class="col-sm-9">
                                        @Html.DropDownListFor(model => model.mdregister.reg_gender,(IEnumerable<SelectListItem>)ViewBag.genderid,"---Select---", new  { @class="form-control",@id="gender_id"})
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Address<span class="required">*</span></label>
											<div class="col-sm-9">
                                         @Html.TextAreaFor(model => model.mdregister.reg_address, new  { @class="form-control", @title="Please enter your First name." ,@placeholder="No Address" })
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">Country<span class="required">*</span></label>
											<div class="col-sm-9">
                                         @Html.DropDownListFor(model => model.mdregister.country_id,(IEnumerable<SelectListItem>)ViewBag.countryid,"---Select---", new  { @class="form-control",@id="country_id"})
											</div>
											</div>
											<div class="form-group">
											<label class="col-sm-3 control-label">State<span class="required">*</span></label>
											<div class="col-sm-9">
                                          @Html.DropDownListFor(model => model.mdregister.state_id,(IEnumerable<SelectListItem>)ViewBag.stateid,"---Select---", new  { @class="form-control",@id="state_id" })
											</div></div>
											<div class="form-group">
											<label class="col-sm-3 control-label">City<span class="required">*</span></label>
											<div class="col-sm-9">
                                         @Html.DropDownListFor(model => model.mdregister.city_id,(IEnumerable<SelectListItem>)ViewBag.cityid,"---Select---", new  { @class="form-control",@id="city_id"})
											</div></div>
											<div class="form-group">
											<label class="col-sm-3 control-label">Phone number <span class="required">*</span></label>
											<div class="col-sm-9">
                                         @Html.TextBoxFor(model => model.mdregister.reg_phno, new  { @class="form-control", @title="Please enter your First name." ,@placeholder="Phone number" })
											</div></div>
									</div>
									<footer class="panel-footer">
										<div class="row">
											<div class="col-sm-9 col-sm-offset-3">
												<a class="h4 text-dark" href="/Login/Index" >Back To Index</a>
											</div>
										</div>
									</footer>
								</section>
							</form>
						</div>
            <script>
                function fnmenu() {

                    $('#login').addClass('nav-active');
                }
        </script>    