@model IEnumerable<Video_Streaming.Dbml.tbl_country>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminMaster.cshtml";
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<section class="panel">
	<header class="panel-heading">
		<div class="panel-actions">
			<a href="tables-advanced.html#" class="panel-action panel-action-toggle" data-panel-toggle></a>
			<a href="tables-advanced.html#" class="panel-action panel-action-dismiss" data-panel-dismiss></a>
		</div>
	<h2 class="panel-title">Country</h2>

	</header>
	<div class="panel-body">
       
	           <table class="table table-bordered table-striped mb-none dataTable no-footer" id="datatable-tabletools" data-swf-path='@Url.Content("~/vendor/jquery-datatables/extras/TableTools/csv_xls_pdf.swf")' role="grid" aria-describedby="datatable-tabletools_info">

	        <thead>
	            <tr>
                    <th>
                       Country Name
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
	        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.country_name)
                    </td>
                    <td> 
                        @Html.ActionLink("Edit", "Edit", new { id=item.country_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.country_id })
                    </td>
                </tr>
              }                
             </tbody>
         </table>
       </div>
    </section>
<script>
            function fnmenu() {
             
                $('#country').addClass('nav-active');
        }
        </script>    